#banner-section{
    text-align: center;
}
.img-fluid-custom{
    vertical-align: middle;
    height: 600px;
    width: auto;
}
.project-btn a{
    text-decoration: none;
    color: #135445;
    text-transform: capitalize;
    font-size: 1.5rem;
}
#about-section{
    background-color: #08100E;
    color: #fff;
}