@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

#header-section {
    padding: 30px;
}

.navbar-scrolled {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}

.navbar {
    transition: all 0.2s ease;
    padding: 49px 0 63px;

}

#banner-section {
    padding: 23px 23px;
}

#banner-section {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
}

.nav-item a:hover {
    color: #135445;
}

.text-colored {
    color: #135445;
}

.bg-custom {
    background-image: url("/assets/img/project-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 500px;
}
.project-btn{
    background-color: #135445;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}
.project-btn:hover{
    background-color: white;
    border: 1px solid #135445;

}
.mt-50{
    margin-top: 70px;
}
#services{
    background-color: #fdfdfd;
}
.nav-link{
    color:#000000;
}
.nav-link:hover{
    color:#212529;
}
.bg-gray{
    background-color: #f8f9fa;
}
.btn-more{
    text-decoration: none;
    color: #135445;
    border: 1px solid #135445;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn-more:hover{
    padding: 10px 20px;
    background-color: #135445;
    color:#ffffff;
    border-radius: 10px;

}